body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: darkgreen;
  background: lightblue;
}

